<form class ="container" #shippingForm = "ngForm" novalidate>
    <h1>Set a Shipping Address</h1>
    <div class="form-group">
            <label for="street">Street Address</label>
            <input type="text" class="form-control" id="street" placeholder="1234 Main St" #street="ngModel" required name ="street" [(ngModel)] = "shipping.address">
            
          </div>
    <div class="form-row">
            <div class="form-group col-md-6">
              <label for="city">City</label>
              <input type="text" class="form-control" id="city" #city="ngModel" required name ="city" [(ngModel)] = "shipping.city">
              
            </div>
            <div class="form-group col-md-4">
              <label for="state">State</label>
              <select id="state" class="form-control" #state="ngModel" required name = "state" [(ngModel)] = "shipping.state">
                <option>Choose...</option>
                <option>AL</option><option>AK</option><option>AZ</option><option>AR</option>
                <option>CA</option><option>CO</option><option>CT</option><option>DE</option>
                <option>FL</option><option>GA</option><option>HI</option><option>ID</option><option>IL</option>
                <option>IN</option><option>IA</option><option>KS</option><option>KY</option><option>LA</option>
                <option>ME</option><option>MD</option><option>MA</option><option>MI</option><option>MN</option>
                <option>MS</option><option>MO</option><option>MT</option><option>NE</option><option>NV</option>
                <option>NH</option><option>NJ</option><option>NM</option><option>NY</option><option>NC</option>
                <option>ND</option><option>OH</option><option>OK</option><option>OR</option><option>PA</option>
                <option>RI</option><option>SC</option><option>SD</option><option>TN</option><option>TX</option>
                <option>UT</option><option>VT</option><option>VA</option><option>WA</option><option>WV</option>
                <option>WI</option><option>WY</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label for="inputZip">Zip Code</label>
              <input type="text" class="form-control" id="inputZip" pattern="[0-9]{5}" name = "inputZip" required #inputZip = "ngModel" [(ngModel)] = "shipping.zip">
            </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label><input type="checkbox"> This is a dorm address</label>
        </div>
     </div>
  <div class = "form-actions">   

            <button type="button" class="btn btn-primary"(click)="goToPrevious(shippingForm)">Back</button>
            
            <button type="button" class="btn btn-secondary" [disabled]="!shippingForm.valid" (click)="goToNext(shippingForm)">Next</button>
    
  </div> 
</form>
